<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :due_date %>
    <%= f.hidden_field :user_id , value: current_user.id %>
    <%= f.collection_select :category_id, @categories, :id, :name, class: "form-control" %>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>





