
<p id="notice"><%= notice %></p>

<div class="alert alert-success" role="alert">
  Lists
</div>
<div class="col-md-10">
  <div class="btn btn-default">
  <%= link_to new_list_path do %>
    <i class="glyphicon glyphicon-plus">Create a New List</i>
  <% end %>
  </div>
</div>
<div class="col-md-6">
  <% @lists.each do |list| %>
    <div class="panel panel-success">
      <div class="panel-heading">
      <h3 class="panel-title">
        <%=link_to list.name, list %>
        <%= link_to "Share", shared_lists_share_the_list_path(:list_id => list.id) ,class: "pull-right"%>
      </h3>
      </div>
    </div>
  <% end %>
    <div class="panel panel-success">
      <div class="panel-body">
        <%= render 'form', :locals => {:list => @list=List.new } %>
        <%= link_to "Back to Lists" , lists_path %>
      </div>
    </div>
  </div>



<div class="col-md-6">
  <% @shared_lists.each do |list| %>
  <% if list.user.email!= current_user.email %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to list.list.name ,list %> 
          <div class="pull-right"> <%= list.user.email %>
          </div>
  <% end %>
       
      </h3>
    </div>
  </div>
  <% end %>
</div>
</div>

  


