

<p id="notice"><%= notice %></p>

<div class="header">
  <h1>My Lists</h1>
</div>

<% @lists.each do |list| %>
  <div class="panel panel-<%= list.user.email == current_user.email ? 'success' : 'warning' %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= list.name %></h3>
    </div>
    <div class="panel-body">



<% if list.user.email != current_user.email %>
  Shared by:
  <strong><%= list.user.email %></strong>
<% end %><br/>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">
    <%= link_to 'Show', list %>
  </button>
  <button type="button" class="btn btn-default">
    <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
  </button>
  <button type="button" class="btn btn-default">
    <%= link_to 'Share', shared_lists_share_the_list_path(:list_id => list.id) %>
     <!-- link_to 'Edit', edit_list_path(list) -->
  </button>
</div>
<p> Due Date: 
  <%= list.due_date %><br/>
</p>

    </div>
  </div>
<% end %>


<br />
<%= link_to new_list_path do %>
<i class="glyphicon glyphicon-plus">Make a New List</i><% end %>
<br />

<h3>Your Calendar</h3>

<%= month_calendar events: @lists do |date, lists| %>
<%= date %>

<% lists.each do |lists|  %>
  <div>
    <%= lists.name %>
  </div>
<% end %>

<% end %>
  


