
<p id="notice"><%= notice %></p>

<div class="header">
  <h1>My Lists</h1>
</div>

<%= link_to new_list_path do %>
  <i class="glyphicon glyphicon-plus">Make a New List</i>
<% end %>
<!-- Listing Users Lists -->
<% @lists.each do |list| %>
  <% if  current_user.email == list.user.email  %>
    <div class="panel panel-<%= list.user.email == current_user.email ? 'success' : 'warning' %>">
      <div class="panel-heading">
      <h3 class="panel-title"> <%= list.name  %> | <%=  list.category.name %> </h3> 
      </div>
    <div class="panel-body">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">
          <%= link_to 'Show', list %>
        </button>
        <button type="button" class="btn btn-default">
          <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>
        <button type="button" class="btn btn-default">
          <%= link_to 'Share', shared_lists_share_the_list_path(:list_id => list.id) %>
        </button>
      </div>
      <p> Due Date: 
        <%= list.due_date %><br/>
      </p>
    </div>
  </div>
  <% end %>
<% end %>
<!-- Listing Shared Lists -->
<% @shared_lists.each do |slist|%>
  <%  if current_user.id == slist.friend_id %>
      <div class="panel panel-<%= slist.user.email == current_user.email ? 'success' : 'warning' %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= slist.list.name %></h3>
        </div>
        <div class="panel-body">
          <% slist.list.items.each %>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
              <%= link_to 'View', list_path(slist) %> 
            </button><br />
            <% if slist.user.email != current_user.email %>
              <br />Shared by:
              <strong><%= slist.user.email %></strong>
            <% end %><br/>
          </div>
        </div>
      </div>         
  <% end %>
<% end %>




<br />


<h3>Your Calendar</h3>

<%= month_calendar events: @lists do |date, lists| %>
  <%= date %>
  <% lists.each do |lists|  %>
    <% if current_user.id == lists.user_id %>
      <div>
        <%= link_to lists.name, lists %>
      </div>
    <% end %>
  <% end %>
<% end %>
  


