<p id="notice"><%= notice %></p>
<div class="col-md-8">	
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					<%= @list.name %> | <%= @list.due_date %> |<%= @list.user.email %>
				</h3>
			</div>
		<div class="panel-body">
			<%= render 'items/form' %>
			<!-- This would be the existing items -->
			<br/>
			<div class="list">
				<ul>
					<%  @items.each do |item| %>
					<li class="list-group-item"> <%= item.name %>
						<% if current_user.email == @list.user.email %>
							<%= link_to item, method: :delete do, data: { confirm: 'Are you sure?' } %>
							<i class="glyphicon glyphicon-trash pull-right"></i>
						<% end %>
						<% end %>
					</li>
					<% end %>
				</ul>
				</div>
				<% if current_user.email != @list.user.email%>
				This list is shared with you by: <strong><%= @list.user.email %></strong>
				<br /> 
				<% end %>
			</div>
		</div>
		<% if current_user.email == @list.user.email%>
			<%= link_to "Delete this entire list", @list , method: :delete , data: {confirm: 'Are you sure?'}%>
		<% end %>


<div class="col-md-12">
	<%= link_to 'Back', lists_path %>
</div>




