<p id="notice"><%= notice %></p>


<div class="panel panel-success">
	<div class="panel-heading">
	 	<h3 class="panel-title">
	 		<%= @list.name %> | <%= @list.due_date %>
	 	</h3>
	</div>
	<div class="panel-body">
		
		<%= render 'items/form' %>
		<!-- This would be the existing items -->

	 	<br />
	 	<div class="list">
		<ul>

			<%  @items.each do |item| %>
				<li class="list-group-item"> <%= item.name %>
					<% if current_user.email == @list.user.email %>
							<%= link_to item, method: :delete do %>
						<i class="glyphicon glyphicon-trash pull-right"></i>
						<% end %>
					<% end %>
				</li>
			<% end %>
	      </ul>
	</div>
	<% if current_user.email != @list.user.email%>
	This list is shared with you by: <strong><%= @list.user.email %></strong>
			<br /> 
	<% end %>
</div>
</div>







<%= link_to 'Back', lists_path %>




