<!DOCTYPE html>
<html>
	<head>
	</head>
<body>

<div class="panel panel-success">
	<div class="panel-heading">
		Who is Where
	</div>
</div>

	<!-- --Buttons to toggle through friends requests and all -->
<div class="col-md-4">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Status</h3>
	  </div>
	  <div class="panel-body">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">
				<%= link_to "Friends", users_path(people: "friends"), class: "selected-button#{' active' if params[:people] == 'friends'}" %>
			</button>
			<button type="button" class="btn btn-default">
				<%= link_to "Requests", users_path(people: "requests"), class: "selected-button#{' active' if params[:people] == 'requests'}" %>
			</button>
			<button type="button" class="btn btn-default">
				<%= link_to "Pending", users_path(people: "pending"), class: "selected-button #{' active' if params[:people] == 'pending'}" %>
			</button>
		</div>

	  </div>
	</div>
</div>


<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Search</h3>
			</div>
			<div class="panel-body">

			<%= form_tag(users_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
				<%= submit_tag "Search", class: "btn btn-default"%>
				<% end %>
				
		</div>
	</div>
</div>
<div class="col-md-5">
	<div class="panel panel-success">
		<div class="panel-heading">
		<h3 class="panel-title">Results</h3>
		</div>
		<div class="panel-body" id="results">
			<%= render @users %>
			<% if params[:search].present?%>
				<% if @searched_users.present? %>
					<%= render @searched_users %>
				<% else %>
					<p>No users here <%= params[:search] %>.</p>
				<% end %>
			<% end %>
			
		</div>
	</div>
</div>







</body>
</html>




