<!DOCTYPE html>
<html>
	<head>
	</head>
<body>
	<div class="header">
		<h1>List of Users</h1>
	</div>

<div class="flex-container">
	<div class="first-item">
		<ul>
			<li><%= link_to "Everyone", users_path, class: "btn btn-default #{'active' unless params[:people]}" %></li>
			<li><%= link_to "My Friends", users_path(people: "friends"), class: "btn btn-default#{'active' unless params[:people] == 'friends'}" %></li>
			<li><%= link_to "Requests", users_path(people: "requests"), class: "btn btn-default#{'active' if params[:people] == 'requests'}" %></li>
			<li><%= link_to "Pending", users_path(people: "pending"), class: "btn btn-default #{'active' if params[:people] == 'pending'}" %></li>
		</ul>
	</div>

	<div class="second-item">
		<h1>Share Your To Do Lists!!</h1>
		<p>It's easy!!  <br>Share your to do list with family and friends.  <br>
		Request friends and swap lists. 
		Now, there is no excuse for not getting things done.  <br>Great way to communicate with family members and friends.  <br>Use it for vacations, parties, chores, camping trips etc.</p>
		
	</div>

	<div class="third-item">
		<div class="aside">
			<%= form_tag(users_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
				<%= submit_tag "Search" %>
			<% end %>
			<% if params[:search].present?%>
				<% if @searched_users.present? %>
					<%= render @searched_users %>
				<% else %>
					<p>No users here <%= params[:search] %>.</p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<br/>



</body>
</html>




