<p id="notice"><%= notice %></p>

<div class="alert alert-success" role="alert">
  Categories
</div>
<div class="col-md-5">
  <div class="panel panel-success">
  <div class="panel-body">
    <%= render 'form', :locals => { :category => @category=Category.new } %>
    <%= link_to "Back to Lists" , lists_path %>
  </div>
</div>
  <% @categories.each do |category| %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to category.name , lists_path %>
        <%= link_to category,method: :delete ,data: { confirm: 'Are you sure?' } do %><i class="glyphicon glyphicon-trash pull-right"></i><% end %>
      </h3>
    </div>
  </div>
  <% end %>
<br />




