<!DOCTYPE html>
<html>
<head>
  <title>Wedo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="row">
	<div class="col-md-3">
		this the left side
	</div>
	<div class="col-md-9">
		this is the right side
		<%= yield %>
	</div>
</div>



</body>
</html>
